/* main page*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    line-height: 1.6;

}

/* header*/
header {
    position: static;
    top: 0;
    background: rgb(30, 30, 30);
    color: white;
    padding: 1rem 2rem;
}

.head {
    display: flex;
    justify-content: space-between;
}

.head a {
    text-decoration: none;
    color: inherit;
}

.head ul {
    display: flex;
    gap: 1rem;
    list-style: none;
}

/*Summary short*/
#summary-slider {
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #444;
    color: rgb(0, 0, 0);
}

.summary-slider {
    padding: 2rem;
    margin: 0 auto;
}

.summary-slider h2 {
    margin-bottom: 1rem;
    color: white;
}

.slider-container {
    display: flex;
    gap: 1rem;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    padding-bottom: 1rem;

}

.slider-container::-webkit-scrollbar {
    display: none;
}

.card {
    flex: 0 0 500px;
    height: 300px;
    background: white;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    padding: 1rem;
    scroll-snap-align: start;
    transition: transform 0.3s ease;
    cursor: pointer;
}

.card a {
    text-decoration: none;
    color: inherit;
    list-style: none;
}

.card:hover {
    transform: translateY(-5px);
}

/* Sector subject project*/
.subject ul {
    list-style: disc;       
    padding-left: 1.5rem;   
}

.subject a {
    text-decoration: none;
    color: inherit;
}

footer {
    text-align: center;
    padding: 1rem;
    background: rgb(30, 30, 30);
    color: white;
}


