/* main page*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    line-height: 1.6;
}

/* header*/
header {
    position: static;
    top: 0;
    background: black;
    color: white;
    padding: 1rem 2rem;
}

.head {
    display: flex;
    justify-content: space-between;
}

.head a {
    text-decoration: none;
    color: inherit;
}

.head ul {
    display: flex;
    gap: 1rem;
    list-style: none;
}

/*Summary short*/
#summary {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #444;
    color: white;
    text-align: center;

}

/* Sector subject project*/
.subject ul {
    list-style: disc;       
    padding-left: 1.5rem;   
}

.subject a {
    text-decoration: none;
    color: inherit;
}