* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 1rem;
    font-family: sans-serif;
}

.container {
    border: 10px solid white;
    background-color: rgb(0, 0, 0);
    padding: 20px;
    border-radius: 20px;
    
}

.showtime {
    color: white;
    font-size: 120px;
    text-shadow: 0 0 10px rgb(143, 142, 142);
    
}