* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    min-height: 100vh;
    padding: 1rem;
    font-family: sans-serif;
}

section {
    display: flex;
    justify-content: center;
}

.container {
    position: relative;
    border: 3px solid white;
    background-color: rgb(45, 44, 44);
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0px 0px 20px 3px rgb(0, 0, 0);
    width: 400px;
    height: 600px;
}

/*------------------------------------------section show time page1------------------------------------------*/
.showtime {
    position: absolute;
    top: 30%;
    text-align: center;
    opacity: 1;
    transition: opacity 0.5s ease;
}

.showtime h3 {
    position: absolute;
    font-size: 30px;
    top: -150%;
    left: -18%;
}

.showtime h2 {
    font-size: 60px;
}

/*------------------------------------------section stopwatch page2------------------------------------------*/
.stopwatch_page {
    position: absolute;
    top: 30%;
    text-align: center;
    opacity: 0;
    transition: opacity 0.5s ease;
}

.stopwatch_page h3 {
    position: absolute;
    font-size: 30px;
    top: -150%;
    left: -18%;
}

.stopwatch_page h2 {
    font-size: 60px;
}

.lab_stop_grid, .reset_start_grid {
    position: absolute;
    display: grid;
    grid-template-columns: repeat(2, 100px);
    top: calc(100% + 163px);
    left: 50%;
    transform: translateX(-50%);
    font-size: 30px;
    gap: 30px;
    opacity: 0;
    pointer-events: none;
}

.lab_stop_grid span, .reset_start_grid span {
    padding: 9px 3px;
    border-radius: 25px;
    background: gray;
    pointer-events: none;
}   

/*------------------------------------------section tmimer page3------------------------------------------*/
.timers {
    position: absolute;
    top: 30%;
    text-align: center;
    opacity: 0;
    transition: opacity 0.5s ease;
}

.timers h3 {
    position: absolute;
    font-size: 30px;
    top: -150%;
    left: -18%;
}

.timers h2 {
    font-size: 60px;
}

/*------------------------------------------main button for swap page------------------------------------------*/
.button_layout div {
    position: absolute;
    bottom: 0;           /* ชิดขอบล่าง container */
    left: 0;
    width: 100%; /* ชดเชยขอบ border ของ container */
    border: 1px solid #ffffff;
    padding: 10px;
    background: rgb(0, 0, 0);
    border-radius: 0 0 15px 15px; /* โค้งตามขอบล่าง container */
    text-align: center;
}

.button_layout span {
    background: rgba(0, 0, 0, 0.3);
    color: rgb(255, 255, 255); 
    padding: 3px;
    font-size: 40px;
    cursor: pointer;
    transition: background 0.2s, transform 0.1s;
}

.button_grid {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    gap: 30px;
}

.button_grid span.active {
    border-radius: 10px;
    background: gray;
}

/*------------------------------------------button start stop reset------------------------------------------*/

.lab_start, .timers div {
    position: absolute;
    display: grid;
    grid-template-columns: repeat(1, 100px);
    top: calc(100% + 163px);
    left: 50%;
    transform: translateX(-50%);
    font-size: 30px;
    gap: 30px;  
    transition: opacity 0.5s ease;
}

.lab_start span, .timers div span {
    padding: 9px 3px;
    border-radius: 25px;
    background: gray;
    pointer-events: none;
}

/*------------------------------------------for active button------------------------------------------*/
.page_show {
    opacity: 1;
}

.show {
    opacity: 1;
    transition: opacity 0.5s ease;
}

.hidden {
    opacity: 0;
    transition: opacity 0.5s ease;
}

.button_show {
    cursor: pointer;
    pointer-events: auto;
}


