* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    min-height: 100vh;
    padding: 1rem;
    font-family: sans-serif;
}


.container {
    position: relative;
    border: 3px solid white;
    background-color: rgb(0, 0, 0);
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0px 0px 20px 3px rgb(0, 0, 0);
    width: auto;
    height: 600px;
    
}

.showtime {
    padding-top: 60%;
    font-size: 60px;
    text-shadow: 0 0 10px rgb(143, 142, 142);
    
}

.button_layout button {
    font-size: 20px;
}

.button_layout {
    position: absolute;
    display: flex;
    bottom: 30px;
    left: 50%;
    gap: 25px;
    transform: translateX(-50%);
}

.stopwatch_page {
    opacity: 0;
}

.timers {
    opacity: 0;
}
/*
.btn {
    position: fixed;    
    bottom: 25%;
    left: 50%;
    transform: translateX(-50%);

    display: grid;
    grid-template-columns: repeat(4, auto);
    gap: 10px;
}

.btn button {   
    font-size: 32px;
    padding: 20px 50px;
    cursor: pointer;
    border-radius: 10px;   
    background-color: #fff;
    color: #000;
    border: none;
}

.sub-btn {
    opacity: 0;
    transform: translateY(20px);
    transition: all 0.3s ease;
    pointer-events: none;
}

.sub-btn.show {
    opacity: 1;
    transform: translateY(0);
}

.main-btn.hide {
    opacity: 0;
    transform: translateY(0);
    pointer-events: none;
    transition: all 0.3s ease;

}
