* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    min-height: 100vh;
    padding: 1rem;
    font-family: sans-serif;
}

section {
    display: flex;
    justify-content: center;
}


.container {
    position: relative;
    border: 3px solid white;
    background-color: rgb(45, 44, 44);
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0px 0px 20px 3px rgb(0, 0, 0);
    width: 400px;
    height: 600px;
    
}

.showtime {
    position: absolute;
    padding-top: 40%;
    font-size: 60px;
    text-shadow: 0 0 10px rgb(143, 142, 142);
    opacity: 0;
    
}

.button_layout div {
    position: absolute;
    bottom: 0;           /* ชิดขอบล่าง container */
    left: 0;
    width: 100%; /* ชดเชยขอบ border ของ container */
    border: 1px solid #ffffff;
    padding: 10px;
    background: rgb(0, 0, 0);
    border-radius: 0 0 15px 15px; /* โค้งตามขอบล่าง container */
    text-align: center;
}

.button_layout span {
    background: rgba(0, 0, 0, 0.3);
    color: rgb(255, 255, 255); 
    padding: 3px;
    font-size: 40px;
    cursor: pointer;
    transition: background 0.2s, transform 0.1s;
}

.button_grid {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    gap: 30px;

}

.stopwatch_page {
    position: absolute;
    text-align: center;
    opacity: 1;
}

.stopwatch_page h2 {
    font-size: 60px;
}

.button_lab {
    font-size: 30px;
}

.lab_start {
    padding-top: 60%;
    opacity: 1;
}


.stopwatch_grid {
 
    display: grid;
    grid-template-columns: repeat(2, 100px);
    gap: 30px;
}

.timers {
    opacity: 0;
}


