* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #e7e7e7;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    min-height: 100vh;
    padding: 1rem;
    font-family: sans-serif;
}

section {
    display: flex;
    justify-content: center;
}

.container {
    position: relative;
    border: 3px solid white;
    background: #1e1e1e;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0px 0px 20px 3px rgb(0, 0, 0);
    width: 400px;
    height: 600px;
}

/*------------------------------------------section show time page1------------------------------------------*/
.showtime {
    position: absolute;
    padding-top: 10%;
    text-align: center;
    opacity: 0;
    transition: opacity 0.5s ease;
}

.showtime h3 {
    position: absolute;
    font-size: 30px;
    transform: translateX(-22%);
}

.showtime h2 {
    font-size: 60px;
    padding-top: 40%;
}

/*------------------------------------------section stopwatch page2------------------------------------------*/
.stopwatch_page {
    position: absolute;
    padding-top: 10%;
    text-align: center;
    opacity: 1;
    transition: opacity 0.5s ease;
}

.stopwatch_page h3 {
    position: absolute;
    font-size: 30px;
    transform: translateX(-22%);
}

.stopwatch_page h2 {
    font-size: 60px;
    padding-top: 40%;
}

.lab_start button {
    padding: 10px 35px;
    margin-top: 75%;
    font-size: 30px;
    border: none;
    border-radius: 25px;
    cursor: pointer;
}

#stopBtn, #resetBtn {
    position: absolute;
    padding: 10px 0px;
    width: 120px;
    border-radius: 25px;
}

#startBtn {
    background-color: #4CAF50;
    color: white;
}

#stopBtn {
    background-color: #f44336;
    color: white;
    right: -8%;
}

#resetBtn {
    background-color: #2196F3;
    color: white;
    left: -8%;
}

/*------------------------------------------section tmimer page3------------------------------------------*/
.timers {
    position: absolute;
    top: 10%;
    text-align: center;
    opacity: 0;
    transition: opacity 0.5s ease;
}

.timers h3 {
    position: absolute;
    font-size: 30px;
    transform: translateX(-22%);
}

.timers h2 {
    font-size: 60px;
    padding-top: 40%;
}

.timers div {
    position: absolute;
    display: grid;
    grid-template-columns: repeat(1, 100px);
    top: calc(100% + 163px);
    left: 50%;
    transform: translateX(-50%);
    font-size: 30px;
    gap: 30px;  
    transition: opacity 0.5s ease;
    pointer-events: none;
}

.timers div span {
    padding: 9px 3px;
    border-radius: 25px;
    background: gray;
    pointer-events: none;
}

/*------------------------------------------main button for swap page------------------------------------------*/
.button_layout div {
    position: absolute;
    bottom: 0;           /* ชิดขอบล่าง container */
    left: 0;
    width: 100%; /* ชดเชยขอบ border ของ container */
    border: 1px solid #ffffff;
    padding: 10px;
    background: rgb(0, 0, 0);
    border-radius: 0 0 15px 15px; /* โค้งตามขอบล่าง container */
    text-align: center;
}

.button_layout span {
    background: rgba(0, 0, 0, 0.3);
    color: rgb(255, 255, 255); 
    padding: 3px;
    font-size: 40px;
    cursor: pointer;
    transition: background 0.2s, transform 0.1s;
}

.button_grid {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    gap: 30px;
}

.button_grid span.active {
    border-radius: 10px;
    background: gray;
}

/*------------------------------------------for active button------------------------------------------*/
.page_show {
    opacity: 1;
}

.show {
    opacity: 1;
    transition: opacity 0.5s ease;
}

.button_click {
    cursor: pointer;
    pointer-events: auto;
}

.hidden {
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.5s ease;
}

