* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
    background: #005490;
}

.container {
    width: 40rem;
    border: 1px solid gray;
    padding: 1rem;
    background: white;
    text-align: center;
}