* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 1rem;
  font-family: sans-serif;
}

.container {
  background-color: rgb(64, 64, 63);
  padding: 20px;
  border-radius: 20px;

}

.head {
    text-align: right;
    color: white;
    padding: 10px;
}

.display {
    width: auto;
    height: 80px;
    background: rgb(147, 147, 147);
    text-align: right;  
    font-size: 32px;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 10px;
    overflow: hidden;
}

.num {
    display: grid;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: repeat(5, 100px);
    font-weight: bold;
    gap: 10px;
    
}

.num button {
    border-radius: 10px;
    width: 100px;
    height: 100px;
    cursor: pointer;
    font-size: 24px;
    font-weight: bold;
    box-shadow: 0 6px 0 rgb(255, 255, 255) 0 2px 5px rgba(250, 250, 250, 0.3);

}

.num button:active {
  transform: scale(1);
  background-color: rgb(237, 140, 95);
}

.advance {
  display: flex;
  gap: 10px;
}